body {
    font-family: 'PT Sans', sans-serif;
    background-color: #FFF9FA;
    margin: 0px;
}

#header_tabs{
    display: flex;
    justify-content: center;
    align-items: flex-end;

    background-color: #A5575F;
    background-image: url("/images/at_sign_PNG68.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200px;

    width: 100%;
    height: 260px;

    -webkit-box-shadow: inset 0 -7px 12px -7px rgb(93, 35, 35);
    box-shadow: inset 0 -7px 12px -7px rgb(93, 35, 35);
}

#header_tabs button{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    height: 30px;
    width: 120px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
}

#header_tabs_link_cloud.active, #header_tabs_link_map.active{
    background-color: #FFF9FA;
}

#header_tabs_link_cloud.inactive, #header_tabs_link_map.inactive{
    background-color: #F97F8B;
    -webkit-box-shadow: inset 0 -7px 12px -7px rgb(93, 35, 35);
    box-shadow: inset 0 -7px 12px -7px rgb(93, 35, 35);
}

#header_tabs button:focus{
    outline:0;
}

#cloud{
    display:none;
}

#map{
    display:none;
}

#cloud.visible, #map.visible{
    display:flex;
    flex-direction: flow;
    justify-content: space-evenly;
    align-items: center;

    position: relative;
    margin-top: 80px;
    margin-left: 20%;
    margin-right: 20%;

    height: 400px;
}

.container_prompt{
    font-size: 40px;
    font-weight: bold;
}

#cloud_form, #map_form{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

    border-radius: 15px;
    -webkit-box-shadow: 0 0 5px rgb(180, 166, 166);
    box-shadow: 0 0 5px rgb(180, 166, 166);
    background-color: rgb(255, 255, 255);
    padding: 30px;
    height: 200px;
    width: 450px;

    font-size: 20px;
}

#cloud_form_content, #map_form_content{
    display:grid;
    justify-items: end;
    align-items: center;
    grid-row-gap: 15px;
}

.form_prompt{
    grid-column: 1/4;
}

.form_prompt2{
    grid-column: 1/4;
}

.form_input{
    grid-column: 5/20;
}

.form_input2{
    grid-column: 5/20;
}

.form_submit{
    border-bottom: 2px rgb(126, 78, 78) solid;
    border-radius: 5px;
    background-color: rgb(226, 197, 197);
    padding: 10px;
}

.form_submit button:focus{
    outline: none;
}
